<div class="joinRoomPageTemplate">

    <div class="form-group">
        <label for="input_name">Name</label>
        <input id="input_name" class="form-control">
    </div>

    <div class="form-group">
        <label for="input_roomCode">Room Code</label>
        <input id="input_roomCode" class="form-control" placeholder="abcd" maxlength=4>
    </div>

    <button id="btn_back" class="btn btn-outline-primary" onclick="backToLandingPage('join')">Back</button>
    <button id="btn_submitJoinRoom" type="submit" class="btn btn-outline-primary" onclick="joinRoom()">Join Room</button>

</div>